<html>
<header>
  <title>Tweet Finder</title>
</header>
<head>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
<h2 class="title">Tweet Finder</h2>

<form class="search-form" action="/search" method="get">
  <input type="text" name="query" maxlength="140" /><br>
  <input type="submit" value="Search" />
</form>

<% if @info_message %>
  <p><%= @info_message %><p>
<% end %>

<% if @tweets %>
  <% @tweets.each do |tweet| %>
    <p><strong>@<%= tweet.user.screen_name %></strong>: <%= tweet.full_text %><p>
  <% end %>
<% end %>
</body>
</html>
